.container {
  flex: 7;
}

.Profile {
  width: 100%;
  position: relative;
}

.profileCover {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.userImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 230px;
  border: 3px solid white;
}
.profileMargin {
  margin-bottom: 60px;
}
.ProfileInfo {
  min-height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  margin-top: 5px;
  font-size: 24px;
}
.desc {
  font-weight: 400;
}

.Bottom {
  margin-top: 20px;
  display: flex;
}
.feed {
  flex: 4;
}

.rightbar {
  flex: 3;
}

.followBtn,
.unfollowBtn {
  width: 110px;
  height: 40px;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #28feb2;
}
.unfollowBtn {
  background-color: #ffc697;
}
.followBtn:hover,
.unfollowBtn:hover {
  letter-spacing: 2px;
}

@media screen and (max-width: 600px) {
  .profileCover {
    width: 97.2%;
  }
  .Bottom {
    flex-direction: column-reverse;
  }
}
