.container {
  background-color: #dedaff;
  padding: 50px;
}

.context {
  background-color: white;
  padding: 20px 30px;
  border-radius: 30px;
}

.section,
.right {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .right {
    display: flex;
    flex-direction: column-reverse;
  }
  .context {
    padding: 20px 0px;
  }
}
